.node {
  cursor: pointer;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}


.node text {
  font: 12px sans-serif;
}

.node.root text {
  font: 13px sans-serif;
  font-weight: bold;
}



path.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

path.link.selected {
  fill: none;
  stroke: green;
  stroke-width: 1.5px;
}

path.selectedState {
  fill: none;
  stroke: green;
  stroke-width: 1.5px;
}

path.selected {
    stroke: green;
    fill: none;
    stroke-width: 4px;
}
.treeGraph {width:960px;}

/* =============================================================================
   Tooltip
   ========================================================================== */
.tooltip { position: absolute; top: 100px; left: 100px; -moz-border-radius:5px; border-radius: 5px; border: 2px solid #000;  background: #222222; text-wrap:unrestricted;
    /*background: #fff;*/ opacity: .7;  color: #eeeeee; autoflow:auto;
    color: white; padding: 10px; width: 300px; font-size: 12px; z-index: 10; }
.tooltip .title { font-size: 13px; }
.tooltip .name { font-weight:normal;text-wrap:unrestricted; }
.tooltip .value { font-weight:bold; }
.tooltip .separator { font-weight:bold; color:red; }